---
import Header from "../../components/Layout/Header.astro";
import Layout from "../../layouts/Layout.astro";
import flag from "../../assets/flags/esp.svg";
import flagP1 from "../../assets/flags/eng.svg";
import flagP2 from "../../assets/flags/fr.svg";

const headerSection = {
	flagImg: flag,
	flagImgP1: flagP1,
	flagImgP2: flagP2,
	currentLang: "es",
	homeTxt: "Inicio",
	cocktailsTxt: "Cócteles",
	contactTxt: "Contacto",
};

const drinks = [
  { title: 'Mojito', description: 'Disfruta de una variedad de cócteles exóticos y refrescantes.' },
  { title: 'Mojito', description: 'Disfruta de una variedad de cócteles exóticos y refrescantes.' },
  { title: 'Mojito', description: 'Disfruta de una variedad de cócteles exóticos y refrescantes.' },
  { title: 'Mojito', description: 'Disfruta de una variedad de cócteles exóticos y refrescantes.' },
  { title: 'Mojito', description: 'Disfruta de una variedad de cócteles exóticos y refrescantes.' },
  { title: 'Mojito', description: 'Disfruta de una variedad de cócteles exóticos y refrescantes.' },

]

const sectionTitle = "CARTA";
---

<Layout>
	<Header
		flagImg={flag}
		flagImgP1={flagP1}
		flagImgP2={flagP2}
		currentLang={headerSection.currentLang}
		homeTxt={headerSection.homeTxt}
		cocktailsTxt={headerSection.cocktailsTxt}
		contactTxt={headerSection.contactTxt}
	/>
	
<section class="flex flex-col items-center py-12 bg-linear-to-br from-green-950 via-yellow-900 to-red-900">
  <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold animate-pulse text-center">
    {sectionTitle}
  </h2>
	<div class="flex flex-wrap gap-6 justify-center mt-10">
		{
			drinks.map((drink) => (
				<div class="card bg-black/30 w-96 shadow-sm outline-1 outline-green-400 hover:outline-yellow-400 hover:scale-105 transition-all duration-300">
					<figure class="px-5 pt-5">
						<img
							src="/mojito.webp"
							alt="Shoes"
							class="rounded-xl"
						/>
					</figure>
					<div class="card-body items-center text-center">
						<h2 class="card-title text-2xl font-bold">{drink.title}</h2>
						<p>{drink.description}</p>
					</div>
				</div>
			))
		}
	</div>
</section>

</Layout>
